// // Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');

@import "variables";

// // Bootstrap
// @import '~bootstrap/scss/bootstrap';

html {
    background: #b7e4f9ff;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.flex-box {
    width: 400px;
    max-width: 100%;
    text-align: center;
}

.char-image {
    margin: 10px auto;
    display: block;
    max-width: 100%;
    height: auto;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        display: block;
        margin: auto 10px;
        font-size: 23px;
        background-color: #e7e865;
        padding: 5px;
        color: #8dc9c1;
        font-weight: bold;
        border-radius: 5px;
    }
}

.episode-list {
    column-count: 2;
    list-style: none;

    li {
        margin: 5px;
    }
}

ul.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;

    a {
        margin: auto 10px;
        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
    }
}

.form-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 15px;

    label {
        margin: 3px;
    }
}
